<!-- todo-list.component.html -->
<div class="todo-container">
  <input
    [(ngModel)]="newTodo"
    (keyup.enter)="addTodo(newTodo)"
    placeholder="Add Todo"
  />
  <div class="todo-items">
    <div
      *ngFor="let item of this.todoItems | filter : newTodo"
      (click)="toggleTodoSelection(item)"
    >
      <div
      [ngClass]="{
        'square': item.style === 'square',
        'circle': item.style === 'circle',
        'selected': item.selected,
        'not-selected': !item.selected
      }"
        [ngStyle]="{
          'background-color': item.selected
            ? todoService.setSelectedBackgroundColor
            : ''
        }"
      >
        {{ item.text }}
      </div>
    </div>
  </div>
</div>
