<div class="todo-container">
  <div class="done-items">
    <div
      *ngFor="let item of this.doneItems"
      (click)="toggleTodoSelection(item)"
    >
      <div
      [ngClass]="{
        'square': item.style === 'square',
        'circle': item.style === 'circle',
        'selected': item.selected,
        'not-selected': !item.selected
      }"
        [ngStyle]="{
          'background-color': item.selected
            ? todoService.setSelectedBackgroundColor
            : ''
        }"
      >
        {{ item.text }}
      </div>
    </div>
  </div>
</div>
