/* You can add global styles to this file, and also import other style files */

.todo-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 30px;
  height: 500px;
  width: 500px;
}

.todo-items {
  margin-top: 10px;
}

.selected {
  background-color: lightblue;
}

.not-selected {
  background-color: #f0f0f0;
}

.square {
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  margin: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px;
}
